node-red/flows.json
[{"id":"2e346737.3662b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"67185e5f.fb4b7","type":"tab","label":"OXIMETRO API","disabled":false,"info":""},{"id":"65a7fa5b.296bf4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"56b4e261.2c5e24","type":"mqtt-broker","z":"","name":"","broker":"172.17.0.4","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"oximetro","birthQos":"2","birthRetain":"true","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"766b75ca.24781c","type":"influxdb","z":"","hostname":"172.17.0.7","port":"8086","protocol":"http","database":"oxi1","name":"","usetls":false,"tls":""},{"id":"11c5a641.73d742","type":"tls-config","z":"","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"b25ff3b9.900b","type":"influxdb","z":"","hostname":" 172.17.0.7","port":"8086","protocol":"http","database":"oxi2","name":"","usetls":false,"tls":"11c5a641.73d742"},{"id":"8b50a0af.d3ab88","type":"ui_tab","z":"2e346737.3662b8","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"f3be6ccf.284078","type":"ui_tab","z":"2e346737.3662b8","name":"Home","icon":"dashboard"},{"id":"111e5ac2.8d94bd","type":"ui_group","z":"2e346737.3662b8","name":"Default","tab":"8f5bc023.28703","order":1,"disp":true,"width":"6","collapse":false},{"id":"96d32ff2.def59","type":"ui_group","z":"2e346737.3662b8","name":"Default","tab":"8f5bc023.28703","order":2,"disp":true,"width":"6","collapse":false},{"id":"e8869522.7c36b8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9ef26b05.eeb988","type":"tls-config","z":"","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"8f5bc023.28703","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"651aac63.d8e5e4","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"sns-cor","birthQos":"2","birthRetain":"true","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e6c4b909.2b3228","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"sns-cor","birthQos":"2","birthRetain":"true","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"222cb017.04f518","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"sns-cor","birthQos":"2","birthRetain":"true","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e3b78438.5f677","type":"tls-config","z":"","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"7a220faf.56ae18","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"11cf204f.1c41f8","type":"mqtt-broker","z":"","name":"","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7c7cabf.cba39d4","type":"swagger-doc","z":"65a7fa5b.296bf4","summary":"API NOAH BLAA BLA BLA","description":"BLABLA BLA","tags":"","consumes":"","produces":"","parameters":[{"name":"login","in":null,"description":"login","required":true,"type":"string"},{"name":"pass","in":null,"description":"pass","required":true,"type":"string"}],"responses":{"200":{"description":"Ok"}},"deprecated":false},{"id":"490aecc5.43fbe4","type":"mqtt in","z":"2e346737.3662b8","name":"","topic":"oxi1","qos":"2","datatype":"auto","broker":"56b4e261.2c5e24","x":350,"y":60,"wires":[["9f53cc10.233588"]]},{"id":"4908c0ad.7c7118","type":"debug","z":"2e346737.3662b8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":550,"y":160,"wires":[]},{"id":"9f53cc10.233588","type":"json","z":"2e346737.3662b8","name":"","property":"payload","action":"","pretty":true,"x":290,"y":120,"wires":[["c4f7cbf3.4d2858"]]},{"id":"c4f7cbf3.4d2858","type":"base64","z":"2e346737.3662b8","name":"","action":"b64","property":"payload.params.payload","x":300,"y":180,"wires":[["6327d600.2b3924"]]},{"id":"6327d600.2b3924","type":"function","z":"2e346737.3662b8","name":"create a new object based on payload of mqtt","func":"var obj = {}\nvar data = msg.payload.params.payload;\nobj.params = msg.payload.params;\nobj.meta = msg.payload.meta;\nif(data.length==6) {\n    obj.sp02 = data.substring(1, 3);\n    obj.hearthate = data.substring(4, 6);\n    msg.payload = obj;\n    return msg;\n}\nreturn null;\n\n","outputs":1,"noerr":0,"x":350,"y":240,"wires":[["587b185a.50c538"]],"outputLabels":["msg.payload"]},{"id":"bb8814cd.595888","type":"inject","z":"2e346737.3662b8","name":"","topic":"oxi","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":80,"wires":[["9f53cc10.233588"]]},{"id":"587b185a.50c538","type":"function","z":"2e346737.3662b8","name":"oxi","func":"msg.payload = [\n    {\n        measurement: \"oxi1\",\n        fields: {\n            sp02:(msg.payload.sp02),\n            hearthate:(msg.payload.hearthate),\n            device_addr:msg.payload.meta.device_addr,\n            device:msg.payload.meta.device,\n            application:msg.payload.meta.application,\n            gateway:msg.payload.meta.gateway,\n            lat:msg.payload.params.radio.hardware.gps.lat,\n            lng:msg.payload.params.radio.hardware.gps.lng,\n            freq:msg.payload.params.radio.freq,\n            status:msg.payload.params.radio.hardware.status,\n            chain:msg.payload.params.radio.hardware.chain,\n\t\t\ttmst:msg.payload.params.radio.hardware.tmst,\n\t\t\tsnr:msg.payload.params.radio.hardware.snr,\n\t\t\trssi:msg.payload.params.radio.hardware.rssi,\n\t\t\tchannel:msg.payload.params.radio.hardware.channel,\n\t\t\tdatarate:msg.payload.params.radio.datarate,\n\t\t\tbandwidth:msg.payload.params.radio.modulation.bandwidth,\n\t\t\ttype:msg.payload.params.radio.modulation.type,\n\t\t\tspreading:msg.payload.params.radio.modulation.spreading,\n\t\t\tcoderate:msg.payload.params.radio.modulation.coderate\n        }\n     }];\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":240,"wires":[["4908c0ad.7c7118","d8f6038b.c9484"]]},{"id":"d8f6038b.c9484","type":"influxdb batch","z":"2e346737.3662b8","influxdb":"766b75ca.24781c","precision":"","retentionPolicy":"","name":"","x":780,"y":160,"wires":[]},{"id":"257ce871.6c8d28","type":"http response","z":"67185e5f.fb4b7","name":"OXI-API-RESPONSE","statusCode":"400","headers":{},"x":760,"y":120,"wires":[]},{"id":"b6de8778.ce2d","type":"function","z":"67185e5f.fb4b7","name":"Data Model oxi","func":"if(msg.payload.user == \"oxi\" && msg.payload.pass == \"Y2FuZGlkbw==\"){\n    if(msg.payload.time !== null &&\n    msg.payload.type_time !== null &&\n    msg.payload.type_time == \"ns\" ||\n    msg.payload.type_time == \"u\" ||\n    msg.payload.type_time == \"µ\" ||\n    msg.payload.type_time == \"ms\" ||\n    msg.payload.type_time == \"s\" ||\n    msg.payload.type_time == \"m\" ||\n    msg.payload.type_time == \"h\" ||\n    msg.payload.type_time == \"d\" ||\n    msg.payload.type_time == \"w\"){\n        msg.query = \"select * from oximetro where time > now() - \" + msg.payload.time + msg.payload.type_time;\n        return msg;\n    }else{\n        msg.payload = {\"error\":\"dados incorretos\"};\n        return msg;\n    }\n}else{\n    msg.payload = {\"error\":\"você não possui permissões\"};\n    return msg;\n}","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["4b02a299.6daa74"]]},{"id":"4b02a299.6daa74","type":"switch","z":"67185e5f.fb4b7","name":"","property":"payload.error","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":160,"wires":[["257ce871.6c8d28"],["bd1ba5f1.205b98"]]},{"id":"682ba386.909f5c","type":"http response","z":"67185e5f.fb4b7","name":"OXI-API-RESPONSE","statusCode":"200","headers":{},"x":760,"y":240,"wires":[]},{"id":"e3a3d918.68145","type":"http in","z":"67185e5f.fb4b7","name":"OXI-API","url":"/points","method":"get","upload":false,"swaggerDoc":"3523fed6.f47fb2","x":160,"y":160,"wires":[["b6de8778.ce2d"]]},{"id":"bd1ba5f1.205b98","type":"influxdb in","z":"67185e5f.fb4b7","influxdb":"766b75ca.24781c","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":800,"y":180,"wires":[["682ba386.909f5c"]]},{"id":"422097.cd0a9f68","type":"mqtt in","z":"65a7fa5b.296bf4","name":"","topic":"oxi2","qos":"2","datatype":"auto","broker":"56b4e261.2c5e24","x":281.20001220703125,"y":124.19999694824219,"wires":[["47618dcd.24c454"]]},{"id":"1b202651.124222","type":"debug","z":"65a7fa5b.296bf4","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":481.20001220703125,"y":224.1999969482422,"wires":[]},{"id":"47618dcd.24c454","type":"json","z":"65a7fa5b.296bf4","name":"","property":"payload","action":"","pretty":true,"x":221.20001220703125,"y":184.1999969482422,"wires":[["d16298bd.63b8b"]]},{"id":"d16298bd.63b8b","type":"base64","z":"65a7fa5b.296bf4","name":"","action":"b64","property":"payload.params.payload","x":231.20001220703125,"y":244.1999969482422,"wires":[["6f830390.c1a96c"]]},{"id":"6f830390.c1a96c","type":"function","z":"65a7fa5b.296bf4","name":"create a new object based on payload of mqtt","func":"var obj = {}\nvar data = msg.payload.params.payload;\nobj.params = msg.payload.params;\nobj.meta = msg.payload.meta;\nif(data.length==6) {\n    obj.sp02 = data.substring(1, 3);\n    obj.hearthate = data.substring(4, 6);\n    msg.payload = obj;\n    return msg;\n}\nreturn null;\n\n","outputs":1,"noerr":0,"x":281.20001220703125,"y":304.1999969482422,"wires":[["a908e6bc.afb15"]],"outputLabels":["msg.payload"]},{"id":"e307fc42.13c73","type":"inject","z":"65a7fa5b.296bf4","name":"","topic":"oxi","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":481.20001220703125,"y":144.1999969482422,"wires":[["47618dcd.24c454"]]},{"id":"a908e6bc.afb15","type":"function","z":"65a7fa5b.296bf4","name":"oxi","func":"msg.payload = [\n    {\n        measurement: \"oxi2\",\n        fields: {\n            sp02:(msg.payload.sp02),\n            hearthate:(msg.payload.hearthate),\n            device_addr:msg.payload.meta.device_addr,\n            device:msg.payload.meta.device,\n            application:msg.payload.meta.application,\n            gateway:msg.payload.meta.gateway,\n            lat:msg.payload.params.radio.hardware.gps.lat,\n            lng:msg.payload.params.radio.hardware.gps.lng,\n            freq:msg.payload.params.radio.freq,\n            status:msg.payload.params.radio.hardware.status,\n            chain:msg.payload.params.radio.hardware.chain,\n\t\t\ttmst:msg.payload.params.radio.hardware.tmst,\n\t\t\tsnr:msg.payload.params.radio.hardware.snr,\n\t\t\trssi:msg.payload.params.radio.hardware.rssi,\n\t\t\tchannel:msg.payload.params.radio.hardware.channel,\n\t\t\tdatarate:msg.payload.params.radio.datarate,\n\t\t\tbandwidth:msg.payload.params.radio.modulation.bandwidth,\n\t\t\ttype:msg.payload.params.radio.modulation.type,\n\t\t\tspreading:msg.payload.params.radio.modulation.spreading,\n\t\t\tcoderate:msg.payload.params.radio.modulation.coderate\n        }\n     }];\nreturn msg;","outputs":1,"noerr":0,"x":561.2000122070312,"y":304.1999969482422,"wires":[["1b202651.124222","a763acd6.bada9"]]},{"id":"a763acd6.bada9","type":"influxdb batch","z":"65a7fa5b.296bf4","influxdb":"b25ff3b9.900b","precision":"","retentionPolicy":"","name":"","x":711.2000122070312,"y":224.1999969482422,"wires":[]}]